* {
    margin: 0;
    padding: 0;
}

/* nav -bar-styles */
nav {
    display: flex;
    justify-content: space-around;
    height: 130px;
    align-items: center;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.nav-left {
    display: flex;
    gap: 20px;
    align-items: center;

}

.nav-icon-text {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.nav-right,
.nav-right-content,
.nav-area {
    display: flex;
    gap: 32px;
}

.nav-right p,
.nav-right .nav-area p {
    color: #3C354F;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-right .nav-area img {
    width: 30px;
    height: 24px;


}

.nav-left img {
    width: 86.041px;
    height: 40px;

}

.nav-area {
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 17px;
}

.nav-right {
    align-items: center;
}

.nav-right-icon {
    display: flex;
    gap: 16px;
}

/* Banner-section-design */

.banner {
    background-image: url("./images/Group\ 14.png");
    display: flex;
    gap: 70px;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}

.banner-left {
    padding-left: 150px;
}

.banner-left img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

}

.banner-icon-1,.banner-icon-2,.banner-icon-3 {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-top: 17px;
}

.banner-left h3 {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-left h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.banner-left p {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.banner-right img {
    width: 550px;
    padding-right: 120px;
    margin-bottom: -5px;


}

.banner-btn-1 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    padding: 21px 40px;
}

.banner-btn-2 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    padding: 21px 40px;

}

.banner-button {
    display: flex;
    gap: 24px;
    margin-top: 41px;

}

/* gammer-section-design */
.gammer {
    background-color: rgba(255, 66, 165, 0.03);
    max-width: 1550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.gammer-left img {
    width: 568px;
    height: 389px;
    flex-shrink: 0;
    margin-left: 120px;
}

.gammer-right {
    text-align: right;
    padding-right: 100px;
}

.gammer-right h3 {

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 85px;
    margin-bottom: 24px;
}

.gammer-right p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    /* max-width: 520px; */
    line-height: 30px;
    margin-bottom: 32px;
}

.gammer-p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    /* font-weight: 500; */
    /* line-height: 45px; */
    margin-top: 24px;
    padding-bottom: 0;

}

.gammer-h {
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    /* font-weight: 700; */
    /* line-height: 45px; */
    margin-top: 0px;
    /* padding: none; */
    margin-bottom: 50px;
}

/* online-section-style */
.online {
    max-width: 1400px;
    margin: 0 240px;
    margin-top: 120px;
}

.online-heading-text {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.online-heading {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.online .online-heading-description {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 48px;

}

.online p {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.online-games {
    display: flex;
    gap: 24px;
    justify-content: space-around;

    /* max-width: 1440px;
    margin: o auto; */
}

.online-games-1 img {
    width: 282px;
    object-fit: cover;
}

.online-games-2 img {
    width: 282px;
    object-fit: cover;

}

.online-games-3 img {
    width: 282px;
    object-fit: cover;

}

.online-games-4 img {
    width: 282px;
    object-fit: cover;

}
.online-games-1,.online-games-2,.online-games-3,.online-games-4 {
	position: relative;
	
}



.image__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 98%;
	height: 83%;
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
    border: 4px solid rgb(251, 82, 107);
    border-radius: 18px;
}



.image__overlay:hover {
	opacity: 1;
}



.image__title {
	font-size: 2em;
	font-weight: bold;
}

.image__description {
	font-size: 1.25em;
	margin-top: 0.25em;
}

/* play-section-design */
.play {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    margin-top: 120px;
    /* max-width: 1400px; */
    /* margin: 0 240px; */
    
}
.play-text {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 200px;
    
}

.play-description h3 {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    color: #0B0223;
    



}

.play-description p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 300px;

}



.play-img img {
    width: 600px;
    height: 90%;
    flex-shrink: 0;
    margin-right: 100px;
    margin-left: 100Px;
    /* position: fixed; */
}

.play-bottom-pic {
    border-radius: 8px;
   position: relative;
   bottom: 200px;
   right: 150px;
   

}

.play-bottom-pic img {
    width: 300px;
    height: 365.083px;
    
    position: relative;
    
}

/* icon-section-design */
.icon {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.icon-row-1,
.icon-row-2 {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.icon-top {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: #FFF;
    margin-top: 120px;

}

.icon-bottom {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: #FFF;
    margin-bottom: 120px;

    margin-top: 30px;
}

.icon-top:hover,
.icon-bottom:hover {
    color: #F948B2;
    border: 2px solid #F948B2;
}

.icon-top p:hover,
.icon-bottom p:hover {
    color: #F948B2;
    border: none;
}

.icon p {
    padding: 29px 20px 28px 16px;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.icon img {
    padding-left: 10px;
}

/* footer-design */
footer {
    background-color: #0B0223;
    
}
.footer-logo button{
    background-color: #0B0223;
    border: none;
}
.footer-logo button :hover{
    cursor: pointer;
}


.footer-heading {
    color: white;
}

.game-logo {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}


.footer-heading-img {
    width: 40px;
    height: 35px;

}

.footer-section {
    display: flex;
    gap: 60px;
    justify-content: center;

    margin-top: 73px;
}

.footer-section p {
    color: #FFF;

    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.footer-logo img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;

}

.footer-logo {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-f {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 70px;
    margin-bottom: 18px;
}

.footer-f p {
    color: rgba(255, 255, 255, 0.60);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-d p {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-d {
    padding-bottom: 130px;
}


/* media-styles-for-mobile */
@media screen and (max-width:576px) {
    nav {
        display: flex;
        flex-direction: column;
        width: 440px;
        height: 250px;

    }

    .nav-icon-text {
        font-size: 20px;
    }

    .nav-left img {
        width: 30px;
        height: 15px;

    }

    .nav-left {
        display: flex;
        gap: 10px;
        align-items: center;

    }



    .nav-right {
        display: flex;
        flex-direction: column;

    }

    .nav-right p,
    .nav-right .nav-area p {
        color: #3C354F;
        font-family: Work Sans;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .nav-right-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .nav-right-content {
        display: flex;

    }

    .nav-right .nav-area img {
        width: 20px;
        height: 15px;


    }

    .nav-area {
        border-radius: 8px;
        background-color: rgba(11, 2, 35, 0.10);
        padding: 10px;
    }


    .banner {
        display: flex;
        flex-direction: column;
        width: 440px;
    }

    .banner-left {
        margin-left: 0px;
        /* width: 300px;
        height: 300px; */
        padding-left: 10px;
    }

    .banner-left h3 {
        padding-top: 30px;
        font-size: 18px;
        text-align: center;

    }

    .banner-left h1 {

        font-size: 45px;
        text-align: center;

    }

    .banner-btn-1 {

        font-size: 10px;
        padding: 12px 30px;
        margin-left: 30px;

    }

    .banner-btn-2 {

        font-size: 10px;
        padding: 12px 30px;

    }

    .banner-icon-1,
    .banner-icon-2,
    .banner-icon-3 {

        padding-left: 50px;
    }


    .banner-right img {
        width: 250px;
        padding-right: 10px;
        margin-bottom: -5px;


    }

    .banner-left p {
        color: #534C64;
        font-family: Work Sans;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .gammer {
        background-color: rgba(255, 66, 165, 0.03);
        /* max-width: 1550px; */
        /* margin: 0 ; */
        display: flex;
        gap: 0px;
        flex-direction: column;

    }

    .gammer-left img {
        width: 368px;
        height: 289px;
        
        margin-left: 0px;
        margin-top: 50px;
    }

    .gammer-right {
        padding-right: 10px;
        text-align: center;

    }

    .gammer-right p {
        text-align: center;
        font-size: 12px;
    }

    .gammer-right h3 {
        font-size: 32px;
    }

    .gammer-btn {
        margin-left: 10px;
    }

    .gammer-h {
        font-size: 15px;

    }
    .online{
        width: 100%;
        margin: auto;
    
    }
    .online-heading-text,.online-heading {
        
        font-size: 28px;
       
    }
    .online .online-heading-description{
        font-size: 13px;
    }
    .online-games{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
    }
}


/* media-style-for-medium device */
@media screen and (min-width:576px) and (max-width:960px) {
    nav {
        width: 900px;
    }



    .banner-right img {
        width: 450px;
        padding-right: 10px;
        margin-bottom: -5px;


    }

    .banner {
        margin-top: 0px;
        padding-top: 20px;
    }

    .banner-left h3 {
        padding-top: 30px;
        font-size: 28px;
        text-align: center;

    }

    .banner-left h1 {

        font-size: 75px;
        text-align: center;

    }

    .banner-btn-1 {

        font-size: 15px;
        padding: 12px 30px;
    }

    .banner-btn-2 {

        font-size: 15px;
        padding: 12px 30px;

    }

    .gammer {
        background-color: rgba(255, 66, 165, 0.03);
        width: 900px;
        /* margin: 0 auto; */
        display: flex;
        flex-direction: column;

    }

    .gammer-left img {
        /* width: 368px;
        height: 289px; */
        margin-left: 0px;
    }

    .gammer-right {
        padding-right: 10px;
        text-align: center;

    }

    .gammer-right p {
        text-align: center;
        font-size: 15px;
    }

    .gammer-right h3 {
        font-size: 40px;
    }

    .gammer-btn {
        margin-left: 10px;
    }

    .gammer-h {
        font-size: 15px;

    }
}